<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Screening Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
    <%=link_to "Log-Out", destroy_employee_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0"%>
    </div>
  </div>
</nav>

<div class="card card-center w-75">
  <div class="card-body">
  <div class="row">
  <div class="col-sm-3">
  <img src="/assets/no-image.png">
  <h5 class="card-title"><%= current_employee.email.try :upcase %></h5>
  </div>
  <div class="col-sm-9">
    <p class="card-text">Please refer the bellow point while giving test.</p>
    <ul class="list-group list-group-flush">
	  <li class="list-group-item">Total exam time will be 40 min.</li>
	  <li class="list-group-item">You will be given question based on your resume and area of experties</li>
	  <li class="list-group-item">Within 40 min you can switch between any question for miscorrection</li>
	  <li class="list-group-item">Your test will be evaluated and send you confirmation mail</li>
	  <li class="list-group-item">Please click bellow link to start test.</li>
	</ul>
	<div class="d-flex p-2"></div>
	<div class="text-center">
  <% if @has_pending_exam %>
		<a href="<%= new_exam_panel_path %>" class="btn btn-info ">Go For Test</a>
  <% else %>
      <div class="alert alert-secondary" role="alert">
        You don't have any pending exam.
      </div>
  <% end %>
	</div>
    
  </div>
  <div class="card-footer text-muted">
    <%= current_employee.created_at%>
  </div>
  </div>
  </div>
</div>
