<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="container">
  <h2><h3>Sorry, Not allowed in your country</h3></h2>
  <div class="panel panel-default">
    <div class="panel-body">This Site only allowed to use in India</div>
  </div>
</div>
</body>
</html>